@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');

.container {
    display: flex;
    min-height: 100vh;
    background-color: #FFFFFF;
    font-family: 'Saira', sans-serif;
}

.loginBox{
    background-color: #F6F6F6;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.loginBox h1{
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: 500;
    background-color: #E4E4E4;
    color: #676767;
    padding:10px;
    border-radius: 5px;
}

.logo {
    margin-top: auto;
}

.logoPlaceholder {
   width: 30px;
   height: 30px;
   background-color: #4CAF50;
   transform: rotate(45deg);
}

.mainContent {
   flex-grow: 1;
   padding: 40px 60px;
}

.title {
   font-size: 32px;
   font-weight: 500;
   margin-bottom: 30px;
   color: #333;
}

.card {
   background-color: #f9fafb;
   border-radius: 12px;
   padding: 30px 30px 80px 30px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.questionRow {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}

.calendarIcon {
   color: #ff6b6b;
   padding: 12px;
   border-radius: 50%;
   margin-right: 20px;
   font-size: 24px;
}

.question {
   color:#45B681;
   font-size: 22px;
   font-weight: 400;
   margin: 0;
}

.inputRow {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.inputGroup {
   width: 30%;
}

.inputGroup label {
   display: block;
   margin-bottom: 8px;
   font-size: 14px;
   font-weight: 400;
   color: black;
   text-transform: uppercase;
}

.inputGroup input,
.inputGroup select {
   width: 100%;
   padding: 12px;
   border: 1px solid #e0e0e0;
   border-radius: 6px;
   font-size: 16px;
   font-family: 'Saira', sans-serif;
   color: #333;
}

.inputGroup select {
   appearance: none;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='%23888' d='M10.59 0.59L6 5.17L1.41 0.59L0 2L6 8L12 2L10.59 0.59Z'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: right 12px center;
   padding-right: 30px;
}

.nextButton {
   background-color: #CACACA;
   color: #FFF;
   border: none;
   padding: 12px 24px;
   border-radius: 25px;
   cursor: pointer;
   float: right;
   transition: background-color 0.3s, color 0.3s;
   font-family: 'Saira', sans-serif;
   font-size: 16px;
   font-weight: 500;
}

.nextButton:hover {
   background-color: #45B681;
   color: #ffffff;
}

@media (max-width: 768px) {
   .inputRow {
      flex-direction: column;
   }

   .inputGroup {
      width: 100%;
      margin-bottom: 20px;
   }

   .mainContent {
      padding: 20px;
   }

   .title {
      font-size: 24px;
   }

   .question {
      font-size: 18px;
   }
}